.form-group {
  margin-bottom: 1rem;

  label {
    display: block;
    margin-bottom: 0.25rem;
  }

  input {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    width: 60%;
    margin-bottom: 20px;
  }

  select {
    flex: 1;
    padding: 0.5rem;
    font-size: 1rem;
    margin-bottom: 20px;
  }
  
}

.action-buttons {
  margin-top: 1rem;

  button {
    margin-right: 1rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
  }
}